.flex-fr-hs-vs
  display flex
  flex-flow row
  justify-content flex-start
  align-items flex-start
.flex-fr-hs-vc
  display flex
  flex-flow row
  justify-content flex-start
  align-items center
.flex-fr-hb-vc
  display flex
  flex-flow row
  justify-content space-between
  align-items center
.flex-fr-he-vc
  display flex
  flex-flow row
  justify-content flex-end
  align-items center
.flex-fc-hs-vs
  display flex
  flex-flow column
  justify-content flex-start
  align-items flex-start
.flex-fr-hc-vc
  display flex
  flex-flow row
  justify-content center
  align-items center